<ion-header>
  <ion-toolbar color="warning">
    <ion-title>Lista de Tarefas</ion-title>
  </ion-toolbar>
  <ion-searchbar></ion-searchbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>

    <ion-item *ngIf="tarefas.length == 0">
      <ion-title class="ion-text-center">Crie uma nova tarefa!</ion-title>
    </ion-item>

    <ion-item-sliding *ngFor="let tarefa of tarefas">
      <ion-item>

        <ion-label> {{tarefa.descricao}} </ion-label>
        
        <ion-segment-button (click)="check(tarefa)">
          <ion-icon [name]="tarefa.status ? 'checkmark-circle-outline' : 'radio-button-off-outline' " ></ion-icon>
        </ion-segment-button>

      </ion-item>

      <ion-item-options side="start">
        <ion-item-option color="secondary" (click)="editTask(tarefa)">
          <ion-icon name="create-outline"></ion-icon>
        </ion-item-option>
   
        <ion-item-option color="danger" (click)="delTask(tarefa)">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>

      <ion-item-options side="end">
        <ion-item-option color="warning">
          <ion-icon name="checkmark-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>
      
    </ion-item-sliding>

  </ion-list>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button color="warning" (click)="newTask()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>